---
import imgCard1 from '../images/imgCard1.svg';
import imgCard2 from '../images/imgCard2.svg';
import imgCard3 from '../images/imgCard3.svg';
import imgCard4 from '../images/imgCard4.svg';
import imgCard5 from '../images/imgCard5.svg';
import imgCard6 from '../images/imgCard6.svg';
import Card from '../components/Card.astro';
import Span from '../components/Span.astro';
---

<section
  id='Pricing'
  class='w-4/5 mt-32'
>
  <article
    class='flex flex-col justify-center items-start md:items-center gap-y-2'
  >
    <h2 class='text-2xl'>
      How does the <Span
        className='text-2xl'
        title='Metaverse work'
      />
    </h2>
    <p class='text-base text-pretty md:text-center font-light'>
      Adipiscing at in tellus integer. Pellentesque massa placerat duis <br />
      ultricies. Venenatis cras
    </p>
  </article>
  <article class='flex flex-wrap justify-center items-center gap-6 mt-24'>
    <Card
      title='Discuss with Colleagues'
      description='Working online is the same experience as work ing in an office. This will be. achieved with..'
    >
      <img
        src={imgCard1.src}
        alt='hombre experimentando las gafas de realidad virtual'
        loading='lazy'
      />
    </Card>
    <Card
      title='Virtual Reality Concert'
      description='Watching concerts virtually is one of the things that can be done in cyberspace..'
    >
      <img
        src={imgCard2.src}
        alt='dj bailando'
        loading='lazy'
      />
    </Card>
    <Card
      title='Playing Games'
      description='For gamers, the metaverse could be an interesting platform of choice for the..'
    >
      <img
        src={imgCard3.src}
        alt='mujer manejando un auto experimentando las gafas de realidad virtual'
        loading='lazy'
      />
    </Card>
    <Card
      title='Online Travel'
      description='With cyberspace, online travel is certainly not impossible. We can do this with the help of..'
    >
      <img
        src={imgCard4.src}
        alt='hombre experimentando las gafas de realidad virtual'
        loading='lazy'
      />
    </Card>
    <Card
      title='Artworks'
      description='In the past, works of art such as paintings could only be seen in the real world..'
    >
      <img
        src={imgCard5.src}
        alt='hombre experimentando las gafas de realidad virtual'
        loading='lazy'
      />
    </Card>
    <Card
      title='Digital Clothing'
      description='The community has also been active with the emergence of paintings or drawings..'
    >
      <img
        src={imgCard6.src}
        alt='hombre experimentando las gafas de realidad virtual'
        loading='lazy'
      />
    </Card>
  </article>
</section>
